* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
}
header {
    width: 100%;
    height: 753px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #587052;
}
.in-header {
    display: flex;
    flex-direction: row;
    gap: 100px;
    position: relative;
    top: 2%;
}
.in-header-text {
    width: 550px;
    height: 450px;
    position: relative;
    top: 32.5px;
}
.in-header-text-1 {
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #FFFFFF;
    position: relative;
    left: 8px;
}
.in-header-text-2 {
    font-size: 67px;
    line-height: 80px;
    letter-spacing: 0;
    font-weight: 700;
    color: #FFFFFF;
    position: relative;
    left: 8px;
}
.in-header-text-3 {
    width: 504px;
    height: 100px;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 700;
    color: #FFFFFF;
    position: relative;
    top: 18px;
    left: 8px;
}
.in-header-button {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 38px;
    left: 8px;
}
.in-header-button-1 {
    width: 167.66px;
    height: 48px;
    border: 2px solid #ECE0CE;
    background: #ECE0CE;
    padding: 10px 26px 10px 25px;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 700;
    color: #03363D;
}
.in-header-button-2 {
    width: 157.27px;
    height: 48px;
    border: 2px solid #ECE0CE;
    padding: 10px 27.66px 10px 27px;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 700;
    color: #ECE0CE;
    position: relative;
    left: 16px;
}
.in-header-image {
    width: 379px;
    height: 512px;
}
.main-1 {
    height: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in-main-1 {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.main-2 {
    height: 652px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.in-main-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
}
.in-main-head-text-2 {
    width: 736px;
    height: 94px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.in-head-text-1 {
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #03363D;
}
.in-head-text-2 {
    font-size: 29px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #03363D;
}
.in-main-item-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    height: 356px;
}
.in-main-item-box {

    width: 352px;
    height: 356px;
}
.item-box {
    width: 64px;
    height: 64px;
    position: relative;
    top: 24px;
    left: 50%; 
    transform: translateX(-50%);
}
.title-box {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #03363D;
    width: 280px;
    position: relative;
    top: 68px;
    left: 50%; 
    transform: translateX(-50%);
    text-align: center;
}
.text-box {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #17494D;
    width: 306px;
    text-align: center;
    position: relative;
    top: 98px;
    left: 50%; 
    transform: translateX(-50%);
}

.footer-box {
    text-align: center;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #17494D;
    width: 223.38px;
    position: relative;
    top: 124px;
    left: 50%; 
    transform: translateX(-50%);
}
.underline {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}
.main-3 {
    height: 642px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F9F9;
}
.in-main-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.in-main-text-3 {
    width: 552px;
    height: 324px;
}
.mini-text-3 {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #03363D;
}
.title-text-3 {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #03363D;
    position: relative;
    top: 16px;
}
.main-text-3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #17494D;
    width: 489px;
    position: relative;
    top: 46px;
}
.footer-text-3 {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #17494D;
    position: relative;
    top: 68px;
}
.main-4 {
    height: 427px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F9F9;
}
.in-main-4 {
    width: 1088px;
    height: 299px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #03363D;
    gap: 32px;
}
.in-main-text-4 {
    width: 558.0625px;
    height: 104px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.title-text-4 {
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #FFFFFF;
}
.text-text-4 {
    width: 542.8250122070312px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #FFFFFF;
}
.button-4 {
    padding: 8px 25.94px 8px 26px;
    background-color: #ECE0CE;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #03363D;
}
.main-5 {
    height: 498px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in-main-5 {
    display: flex;
    flex-direction: row;
    width: 1104px;
    justify-content: space-around;
    align-items: center;
    gap: 64px;
}
.one {
    font-size: 43px;
}
.two {
    font-size: 16px;
}
.in-main-image-5{
    position: relative;
    height: 370px;
    width: 444px;
}
.big-img-5 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 295.984375px;
    border-top-left-radius: 295.98px;
    border-top-right-radius: 295.98px;
}
.small-img-5 {
    position: absolute;
    top: 180px;
    left: 0px;
    height: 184.984375px;
}
.main-6 {
    height: 658px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F9F9;
}
.in-main-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    height: 530px;
}
.in-main-text-6 {
    width: 736px;
    height: 94px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.mini-text-6 {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #03363D;
}
.title-text-6{
    font-size: 43px;
    line-height: 56px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #03363D;
}
.in-main-item-box-6 {
    display: flex;
    flex-direction: row;
    gap: 80px;
    height: 530px;
}
.text-box-main-6 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #17494D;
    width: 482px;
    height: 100px;
    text-align: center;
    position: relative;
    top: 98px;
}
.main-7 { 
    height: 1007px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.in-main-7 {
    height: 879px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}
.in-main-text-7 {
    width: 736px;
    height: 110px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.in-main-in-container-7{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 44px;
}
.image-in-container-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 1088px;
    height: 42.98px;
}
.image-main-7 {
    position: relative;
    top: -4px;
}
.in-main-in-text-7 {
    height: 518px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.title-in-text-7 {
    color: rgba(23, 73, 77, 1);
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    width: 472.25px;
    text-align: center;
}
.title-container-in-text-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
.mini-container-in-text-7 {
    color: #03363D;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}
.big-container-in-text-7 {
    color: #17494D;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
.in-footer-in-text-7 {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #17494D;
}
.content-in-text-7  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.in-content-in-text-7  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.number-in-text-7 {
    color: #03363D;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}
.text-in-text-7 {
    color: #17494D;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    height: 32px;
    text-align: center;
}
.ta {
    width: 75.01px;
}

.tb {
    width: 96px;
}

.tc {
    width: 95.11px;
}

.td {
    width: 74.67px;
}
.main-8 { 
    height: 572px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #587052;
}
.in-main-8 {
    width: 1104px;
    height: 444px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.in-main-text-8 {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.title-text-8 {
    font-size: 43px;
    line-height: 56px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #FFFFFF;
}
.button-in-text-8 {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.left-button-in-text-8{
    width: 171.1875px;
    height: 48px;
    border: 2px solid #ECE0CE;
    background: #ECE0CE;
    padding: 10px 25px 10px 25px;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 700;
    color: #03363D;
}
.right-button-in-text-8 {
    width: 167.65625px;
    height: 48px;
    border: 2px solid #ECE0CE;
    padding: 10px 25px 10px 25px;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 700;
    color: #ECE0CE;
}
.image-in-main-8 {
    width: 444px;
    height: 444px;
    border-radius: 444px;
}
footer {
    display: flex;
    justify-content: center;
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.in-footer {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.logo-in-footer {
    height: 96px;
    display: flex;
    align-items: flex-end;
}
.image-in-footer {
    width: 32px;
    height: 32px;
}
.text-in-footer {
    height: 397px;
    display: flex;
    flex-direction: row;
}
.row-in-footer {
    width: 168px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title-row-footer {
    width: 127.62187194824219px;
    height: 88px;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #03363D;
}
.text-row-in-footer {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.text-row {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #68737D;
}
.title-row-in-footer {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #03363D;
}

.line-footer {
    width: 100%;
    border: 2px solid #C2C8CC;
    height: 1px;
}
.under-footer{
    display: flex;
    flex-direction: row;
     height: 64px;
     gap: 136px;
}
.in-under-footer {
    display: flex;
    gap: 80.8px;
}
.text-under-ih-footer {
    width: 189px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.title-under-footer{
    height: 24px;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #03363D;
}
.text-under-footer{
    height: 20px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #17494D;
}
.input {
    display: flex;
    flex-direction: row;
}
.email-in-input {
    width: 310px;
    height: 48px;
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #C2C8CC;
    padding: 14px 12px 14px 12px;
    border: 2px solid #68737D;
}
.submit-in-input{
    width: 134.15625px;
    height: 48px;
    background-color: #17494D;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 700;
    padding: 10px 25.16px 10px 26px;
}
.in-image-in-footer {
    display: flex;
    gap: 16px;
    height: 32px;
}
.last-footer{
    height: 28px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.text-in-last-footer {
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #68737D;
}
































